@use "./theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 100%;
  background: theme.$background-color;
  color: theme.$text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  // max-width: 1600px;
  background: theme.$card-bg;
  // padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px theme.$box-shadow;
  text-align: center;
}

h1 {
  color: theme.$primary-color;
  font-size: 1.9rem;
}

.loader {
  margin-top: 20px;
  font-size: 1.2rem;
  color: theme.$primary-color;
}

input {
  padding: 10px;
  border: 1px solid theme.$border-color;
  border-radius: 4px;
  outline: none;
  width: 60%;
}

.loading {
  color: theme.$primary-color;
}

.error {
  color: theme.$error;
}

.empty-state {
  margin-top: 20px;
  padding: 20px;
  background-color: theme.$background-color;
  border-radius: 8px;
  box-shadow: 0px 4px 6px theme.$box-shadow;
  font-size: 18px;
  color: theme.$text-grey;

  img {
    width: 150px;
    opacity: 0.7;
  }

  p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }
}

.weather-section {
  display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  align-items: stretch; // Ensures both sections stretch to the same height
  gap: 1rem;
  margin: 20px;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 37%;
}

//Chart on right side
.chart-section {
  flex: 1;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.weather-chart {
  display: flex;
  align-items: center;
  width: 100%;

  .chart-container {
    margin-top: 20px;
    width: 100%;
    background: theme.$card-bg;
    // padding: theme.$padding;
    border-radius: 5px;
    box-shadow: 0px 2px 5px theme.$box-shadow;
  }
}

.detail-chart {
  flex: 1;
  max-width: 90%;
  display: flex;
  // flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.right {
  // flex: 1;
  // display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.weather-item {
  background: theme.$item-bg;
  padding: 15px;
  border-radius: 10px;
  text-align: start;
  min-width: 120px;
  max-width: 120px;
  height: 90px;
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.label {
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

.value {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding-top: 10px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tabs button {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: #f0f0f0;
  border-radius: 5px;
}

.tabs button.active {
  background: #007bff;
  color: white;
}

.tab-content {
  width: 100%;
  display: flex;
  justify-content: center;
}