@use "./theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 100%;
  background: theme.$background-color;
  color: theme.$text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  width: 100vw; 
  max-width: 1600px;
  background: theme.$card-bg;
  // padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px theme.$box-shadow;
  text-align: center;
}

h1 {
  color: theme.$primary-color;
  font-size: 1.9rem;
}

.loader {
  margin-top: 20px;
  font-size: 1.2rem;
  color: theme.$primary-color;
}

input {
  padding: 10px;
  border: 1px solid theme.$border-color;
  border-radius: 4px;
  outline: none;
  width: 60%;
}

.loading {
  color: theme.$primary-color;
}

.error {
  color: theme.$error;
}

.weather-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  word-wrap: break-word; //new
  max-width: 100%;
  overflow: hidden;
  // flex-direction: column;
  // align-items: flex-start;
  align-items: stretch; 
  gap: 1rem;
  min-width: 0;
  margin: 20px;
  padding: 30px;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 37%;
  align-items: center;
}

//Chart on right side
.chart-section {
  flex: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.weather-chart {
  display: flex;
  align-items: center;
  width: 100%;

  .chart-container {
    margin-top: 20px;
    width: 100%;
    background: theme.$card-bg;
    // padding: theme.$padding;
    border-radius: 5px;
    box-shadow: 0px 2px 5px theme.$box-shadow;
  }
}

.detail-chart {
  flex: 1;
  // max-width: 90%;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  justify-content: center;
  padding: 15px;
}

.right {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.weather-item {
  background: theme.$item-bg;
  padding: 12px;
  border-radius: 10px;
  text-align: start;
  width: calc(20% - 20px);
  // min-width: 130px;
  // max-width: 130px;
  height: 90px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  white-space: normal;
  .label {
    font-size: 12px;
    font-weight: 600;
    color: #333;
  }
  
  .value {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding-top: 6px;
    flex-grow: 1;
  }
}



.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 5px theme.$box-shadow;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tabs button {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: #f0f0f0;
  border-radius: 5px;
}

.tabs button.active {
  background: #007bff;
  color: white;
}

.tab-content {
  width: 100%;
  display: flex;
  justify-content:flex-start;
}

@media (max-width: 768px) {
  .weather-section {
    flex-direction: column;
    align-items: center;
  }

  .left-section, 
  .right-section {
    max-width: 100%;
    width: 100%;
  }
  .weather-item {
    width: calc(25% - 20px); 
    .label {
      font-size: 10px; 
    }
  
    .value {
      font-size: 14px; 
    }
  }
}

@media (max-width: 1200px) {
  .left-section {
    width: 100%;
    display: flex;
  }
  .weather-item {
    width: calc(33% - 20px); 
    .label {
      font-size: 12px; 
    }
  
    .value {
      font-size: 14px; 
    }
  }
}

@media (max-width: 480px) {
    .weather-item {
      width: 100%; 
      .label {
        font-size: 9px; 
      }
    
      .value {
        font-size: 12px; 
      }
  }

}
