@use "./theme";
.chart-container {
    margin-top: 20px;
    width: 100%;
    background: theme.$card-bg;
    // padding: theme.$padding;
    border-radius: 5px;
    box-shadow: 0px 2px 5px theme.$box-shadow;
  }
  